<div th:fragment="navbar">
<header>
    <h1 class="navbar-title">INTENTION TIMER</h1>
    <div class="navbar-selections">
        <a class="future-intentions-title" id="intentionsTitle" th:href="@{/comments}">Future Intentions</a>
        <a class="invite-friends-title" th:href="@{/friends}">Invite Friends</a>
    </div>
    <div class="dropdown">
<!--        <img th:src="@{/img/ham-menu.png}" src="../static/img/ham-menu.png" class="icon ham-icon" alt="hamburger menu"/>-->
        <div class="dropdown-content">
            <p>Settings</p>
        </div>
    </div>
</header>
</div>