<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap">
    <title>Intention Timer</title>
    <style>
        body {
            background-color: #2B2733;
            min-width: 230px;
        }
    </style>
</head>
<body>
    <header>
        <h1>INTENTION TIMER</h1>
        <div class="dropdown">
            <img class="icon ham-icon" src="assets/ham-menu.png" alt="hamburger menu"/>
            <div class="dropdown-content">
                <p>Settings</p>
            </div>
        </div>
    </header>
    <main>
        <article class="login-card-article">
            <section class="login-card">
                <p style="font-size: 1.5em;">Login</p>
                <form>
                    <label class="login-email">Email</label>
                    <input type="text" class="email-answer input">
                    <label class="login-password">Password</label>
                    <input type="text" class="password-answer input">
    <!--                <button class="login-button" onClick="displayActivityCard(event)">LOGIN</button>-->
                    <a th:href="@{/showNewUserForm}" class="login-button" onclick="displayActivityCard(event)">LOGIN</a>
                </form>
            </section>
        </article>
    </main>
</body>
</html>