<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap">
</head>
<body>
<main>
    <article class="activity-card-article">
        <h2>New Activity</h2>
        <section class="activity-card">
            <p class="card-text">Select a category</p>
            <div class="activity-button-container">
                <button class="activity-button study-button">
                    <img th:src="@{/img/study.svg}" class="icon study-icon" src="../static/img/study.svg" alt="Lightbulb Off"/>
                    <img th:src="@{/img/study-active.svg}" class="icon study-icon-active hide" src="../static/img/study-active.svg" alt="Lightbulb On"/>
                    Study
                </button>
                <button class="activity-button meditate-button">
                    <img th:src="@{/img/meditate.svg}" class="icon meditate-icon" src="../static/img/meditate.svg" alt="Lotus Flower"/>
                    <img th:src="@{/img/meditate-active.svg}" class="icon meditate-icon-active hide" src="../static/img/meditate-active.svg" alt="Lotus Flower On"/>
                    Meditate
                </button>
                <button class="activity-button exercise-button">
                    <img th:src="@{/img/exercise.svg}" class="icon exercise-icon" src="../static/img/exercise.svg" alt="Moving Shoe"/>
                    <img th:src="@{/img/exercise-active.svg}" class="icon exercise-icon-active hide" src="../static/img/exercise-active.svg" alt="Moving Shoe On"/>
                    Exercise
                </button>
            </div>
            <form>
                <label class="intention-question">What would you like to accomplish during this time?</label>
                <input type="text" class="intention-answer input">
                <label class="minutes">Minutes</label>
                <input maxlength="2" class="minutes-input input" type="text">
                <label class="seconds">Seconds</label>
                <input maxlength="2" class="seconds-input input" type="text" >
                <a class="start-activity-button" href="/" th:href="@{/timer}">Start Activity</a>

                <!--                <a target="_blank" class="start-activity-button" href="/" th:href="@{/timer}">Start Activity</a>-->
<!--                <button class="start-activity-button">START ACTIVITY</button>-->
            </form>
        </section>
    </article>
    <article class="timer-card-article hide">
        <h2>Current Activity</h2>
        <section class="timer-card">
            <div class="user-input">
                <h3 class="user-intention">Deep Breathing</h3>
                <p class="timer-text"><span class="minutes-text">05</span>:<span class="seconds-text">00</span></p>
            </div>
            <button class="timer-button">START</button>
            <button class="log-activity-button" onClick="logActivity()">LOG ACTIVITY</button>
        </section>
    </article>
    <aside class="past-activity-article">
        <h2>Past Activities</h2>
        <p class="no-activities-message">You haven't logged any activities yet.  Complete the form to the left to get started!</p>
        <div class="card-container hide">
            <article class="past-activity-card">
                <div class="activity-color-tag"></div>
            </article>
        </div>
    </aside>
</main>
    <script type="text/javascript" th:src="@{/script/activity.js}" src="../static/script/activity.js"></script>
    <script type="text/javascript" th:src="@{/script/main.js}" src="../static/script/main.js"></script>
</body>
</html>





<!--<!DOCTYPE html>-->

<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
<!--    <meta charset="utf-8" />-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1" />-->
<!--    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet" type="text/css"/>-->
<!--    <title>Registration</title>-->
<!--</head>-->
<!--<body>-->
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
<!--    <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <button type="button" class="navbar-toggle collapsed"-->
<!--                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"-->
<!--                    aria-controls="navbar">-->
<!--                <span class="sr-only">Toggle navigation</span> <span-->
<!--                    class="icon-bar"></span> <span class="icon-bar"></span> <span-->
<!--                    class="icon-bar"></span>-->
<!--            </button>-->
<!--            <a class="navbar-brand" href="#" th:href="@{/}">Registration and-->
<!--                Login Module</a>-->
<!--        </div>-->
<!--        <div id="navbar" class="collapse navbar-collapse">-->
<!--            <ul class="nav navbar-nav">-->
<!--                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<!--<br>-->
<!--<br>-->
<!--<div class="container">-->
<!--    <h2>com.example.demo.security.User Registration and Login Module using Spring Boot, Spring-->
<!--        MVC, Spring Security, JPA/Hibernate and Thymeleaf</h2>-->

<!--    <p>-->
<!--        Welcome <span sec:authentication="principal.username">com.example.demo.security.User</span>-->
<!--    </p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!--<!DOCTYPE html>-->

<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="ISO-8859-1">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="/styles.css">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap">-->
<!--    <title>Intention Timer</title>-->
<!--</head>-->
<!--<body>-->
<!--    <header>-->
<!--        <h1>INTENTION TIMER</h1>-->
<!--        <div class="dropdown">-->
<!--            <img class="icon ham-icon" src="/ham-menu.png" alt="hamburger menu"/>-->
<!--            <div class="dropdown-content">-->
<!--                <p>Settings</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </header>-->
<!--    <main>-->
<!--        <article class="login-card-article">-->
<!--            <section class="login-card">-->
<!--                <p style="font-size: 2.3em;" class="card-text sign-in-text">Sign Up</p>-->
<!--                <p style="font-size: 2.3em;" class="card-text login-text hide">Login</p>-->
<!--                <p style="font-size: 1.5em;">Login</p>-->
<!--                <form class="hide">-->
<!--                    <label class="login-email">Email</label>-->
<!--                    <input type="text" class="email-answer input">-->
<!--                    <label class="login-password">Password</label>-->
<!--                    <input type="text" class="password-answer input">-->
<!--    &lt;!&ndash;                <button class="login-button" onClick="displayActivityCard(event)">LOGIN</button>&ndash;&gt;-->
<!--                    <a th:href="@{/showActivityForm}" class="login-button" onclick="displayActivityCard(event)">LOGIN</a>-->
<!--                </form>-->
<!--                <form action="#" th:action="@{/registerUser}" th:object="${user}" method="POST">-->
<!--                    <label class="first-name">First Name</label>-->
<!--                    <input type="text" th:field="*{firstName}" class="first-answer input">-->
<!--                    <label class="first-name">Last Name</label>-->
<!--                    <input type="text" th:field="*{lastName}" class="last-answer input">-->
<!--                    <label class="login-email">Email</label>-->
<!--                    <input type="text" th:field="*{email}" class="email-answer input">-->
<!--                    <label class="login-password">Password</label>-->
<!--                    <input type="text" th:field="*{password}" class="password-answer input">-->
<!--&lt;!&ndash;                    <a th:href="@{/showActivityForm}" class="login-button" onclick="displayActivityCard(event)">GET STARTED</a>&ndash;&gt;-->
<!--                    <button class="get-started-button" type="submit">GET STARTED</button>-->
<!--&lt;!&ndash;                    <button class="login-button" onClick="displayActivityCard(event)">GET STARTED</button>&ndash;&gt;-->
<!--                </form>-->
<!--            </section>-->
<!--        </article>-->
<!--    </main>-->
<!--</body>-->
<!--</html>-->