<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet" type="text/css"/>
    <!--    <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{../static/styles.css}">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap">
    <title>Another Activity</title>
</head>
<body>
<div th:replace="fragments/topnav :: navbar">

</div>
<main>
    <article class="completed-activity">
        <h2>Completed Activity</h2>
        <section>
            <button class="new-activity-button">CREATE A NEW ACTIVITY</button>
            <button class="logout-button">LOGOUT</button>
        </section>
    </article>
</main>
    <script type="text/javascript" th:src="@{/script/activity.js}" src="../static/script/activity.js"></script>
    <script type="text/javascript" th:src="@{/script/main.js}" src="../static/script/main.js"></script>
</body>
</html>