<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Comment Management System</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body style="background-color: #2B2733;">
<section class="container add-friend-container">
    <hr>
    <div class="save-friend-text">Save Comment</div>

    <form action="#" th:action="@{/saveComment}" th:object="${comment}" method="POST">
        <input type="text" th:field="*{futureIntention}" placeholder="Future Intention" class="friend-first-input" >
        <div th:if="${#fields.hasErrors('futureIntention')}" th:errors="*{futureIntention}">Future Intention Error</div>

        <input type="text" th:field="*{description}" placeholder="Description" class="friend-last-input">

        <button type="submit" class="btn save-friend-button"> Save Comment</button>
    </form>

    <hr>
    <a th:href="@{/comments}" class="back-to-friends"> Back to Comments</a>
</section>
</body>

</html>