<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap">
</head>
<body>
    <main>
    <article class="activity-card-article hide">
        <h2>New Activity</h2>
        <section class="activity-card">
        <p class="card-text">Select a category</p>
        <div class="activity-button-container">
            <button class="activity-button study-button"><img class="icon study-icon" src="assets/study.svg" alt="Lightbulb Off"/><img class="icon study-icon-active hide" src="assets/study-active.svg" alt="Lightbulb On"/>Study</button>
            <button class="activity-button meditate-button"><img class="icon meditate-icon" src="assets/meditate.svg" alt="Lotus Flower"/><img class="icon meditate-icon-active hide" src="assets/meditate-active.svg" alt="Lotus Flower On"/>Meditate</button>
            <button class="activity-button exercise-button"><img class="icon exercise-icon" src="assets/exercise.svg" alt="Moving Shoe"/><img class="icon exercise-icon-active hide" src="assets/exercise-active.svg" alt="Moving Shoe On"/>Exercise</button>
        </div>
        <form>
            <label class="intention-question">What would you like to accomplish during this time?</label>
            <input type="text" class="intention-answer input">
            <label class="minutes">Minutes</label>
            <input maxlength="2" class="minutes-input input" type="text">
            <label class="seconds">Seconds</label>
            <input maxlength="2" class="seconds-input input" type="text" >
            <button class="start-activity-button" onClick="startActivity(event)">START ACTIVITY</button>
        </form>
        </section>
    </article>
    </main>
</body>
</html>