<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap">
    <title>Timer</title>
</head>
<body>
    <div>
        <header style="margin: 0.5em;">
            <h1 class="navbar-title">INTENTION TIMER</h1>
            <div class="navbar-selections">
                <a class="future-intentions-title" id="intentionsTitle" th:href="@{/}">Add Activity</a></div>
            <div class="navbar-selections">
                <a class="invite-friends-title" th:href="@{/friends}">Invite Friends</a>
            </div>
            <div class="navbar-selections">
                <a class="invite-friends-title" th:href="@{/comments}">Future Intentions</a>
            </div>
            <div class="navbar-selections">
                <a class="invite-friends-title" th:href="@{/login}">Logout</a>
            </div>
        </header>
    </div>
    <article class="timer-card-article" >
        <h2>Current Activity</h2>
        <section class="timer-card">
            <div class="user-input">
                <h3 class="user-intention">GO RUNNING</h3>
                <p class="timer-text"><span class="minutes-text">0</span>:<span class="seconds-text">05</span></p>
            </div>
            <button class="timer-button" onclick="timerStart()">START</button>
        </section>
    </article>
<article class="completed-activity hide">
    <h2>Completed Activity</h2>
    <section>
        <button class="new-activity-button">CREATE A NEW ACTIVITY</button>
        <button class="logout-button">LOGOUT</button>
    </section>
</article>
    <script type="text/javascript" th:src="@{/script/activity.js}" src="../static/script/activity.js"></script>
    <script type="text/javascript" th:src="@{/script/main.js}" src="../static/script/main.js"></script>
</body>
</html>