<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap">
    <title>Timer</title>
</head>

<body>
<div th:replace="fragments/topnav :: navbar">

</div>
<main>

<article class="timer-card-article">
    <h2>Current Activity</h2>
    <section class="timer-card">
        <div class="user-input">
            <h3 class="user-intention" th:text="${activity.intention}">Deep Breathing</h3>
            <p class="timer-text"><span class="minutes-text" th:text="${activity.minutes}">05</span>:<span class="seconds-text" th:text="${activity.seconds}">00</span></p>
        </div>
        <button class="timer-button" onclick="timerStart()">START</button>
        <a href="/" th:href="@{/navigate}">LOG ACTIVITY</a>

    </section>
</article>
<article class="completed-activity hide">
    <h2>Completed Activity</h2>
    <section>
        <button class="new-activity-button">CREATE A NEW ACTIVITY</button>
        <button class="logout-button">LOGOUT</button>
    </section>
</article>
    <div th:replace="fragments/activitiesaside :: pastactivities">

    </div>
</main>
    <script type="text/javascript" th:src="@{/script/activity.js}" src="../static/script/activity.js"></script>
    <script type="text/javascript" th:src="@{/script/main.js}" src="../static/script/main.js"></script>
</body>
</html>